.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
}

.title {
    text-align: left;
    margin-bottom: 20px;
}

.add-plan {
    margin-bottom: 40px;
}

.upcoming-plans {
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
}

#planList {
    list-style-type: none;
    padding: 0;
}

.plan-item {
    margin-bottom: 20px;
}

/* Custom styles */
.table-container {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.table-container table {
    width: 100%;
}

.table-container th,
.table-container td {
    padding: 10px;
}

.table-container th {
    background-color: #292b3a;
    color: #fff;
}

.table-container td {
    border-bottom: 1px solid #ddd;
}

.photo-album {
    margin-top: 40px;
    text-align: center;
}

.photo-album h2 {
    margin-bottom: 20px;
}
